*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px;
}
.cont_title {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif !important;
}
.cont_title p {
	max-width: 1200px;
	border-radius: 5px;
	color: rgb(41, 41, 41);;
	width: 500px;
	font-size: 26px;
	font-weight: 600;
	background-color: #027fb5;;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin: 20px 10px 10px 10px;
}
.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
table {

	border: 1px solid #ccc; 
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
table tr {
	border: 1px solid #ddd;
	padding: 5px;
}
table tr:nth-child(even) {
	background-color: #b6b6b6;
	color: white;
}
table td, table th {
	width: 100px;
	padding: 10px;
	text-align: center;
}
table th {
	text-transform: uppercase;
	font-family: 18px;
	letter-spacing: 1px;
	background-color: #000000;
	color: #fff;
}
.nombreApellido {
	align-self: center;
}

/*//////////////////////////////////////////////*/
@media screen and (max-width: 480px) {
	table {
		border:0;
	}
	table tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;
	}
	table td {
		display: block;
		text-align: right;
		font-size: 16px;
		border-bottom: 1px dotted #ccc;
	}
	table td:last-child {
		border-bottom: 0;
	}
	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: 600;
	}
	table thead {
		display: none;
	}
}