*{
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px;
}
/* ------------------ */
.header-content {
	max-width: 1200px;
	display: flex;
	align-items: end;
	justify-content: end;
	width: 100%;
	padding-bottom: 5px;
}
.input-buscador {
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-buscador:focus {
	outline: none;
}
/* ------------------ */
.cont_title {
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Raleway', sans-serif !important;
}
.cont_title p {
	max-width: 1200px;
	border-radius: 5px;
	color: rgb(41, 41, 41);;
	width: 500px;
	font-size: 26px;
	font-weight: 600;
	background-color: #027fb5;;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin: 20px 10px 10px 10px;
}
.btnAlta {
	display: block;
	background-color: #029ee0;
	width: 200px;
	border: none;
	color: #ffffff;
	font-weight: 500;
	padding: 12px 10px;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	margin: 20px 0 0 0;
	text-align: center;
}
.btnAlta:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: all 0.5s;
}
.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.btnAlta {
	background-color: #029ee0;
	width: 350px;
	border: none;
	color: white;
	font-weight: 500;
	padding: 15px 12px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	margin: 20px  0 20px 0;
	text-align: center;
}
.btnAlta:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		transition: all 0.5s;
	}
table {
	max-width: 1200px;
	border: 1px solid #ccc; 
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table tr {
	border: 1px solid #ddd;
	padding: 5px;
}

table tr:nth-child(even) {
	background-color: #b6b6b6;
	color: white;
}

table td, table th {
	text-align: center;
	padding: 10px;
}
.id {
	width: 10%;
}
.modificar {
	font-size: 16px;
	color: red;
}
table th {
	text-transform: uppercase;
	font-family: 18px;
	letter-spacing: 1px;
	background-color: #000000;
	color: #fff
}
.imagen {
	width: 20%;
}
.edit {
	text-decoration: none;
	color: #001a49;
	font-size: 20PX;
}
.borrar {
	text-decoration: none;
	color: red;
	font-size: 20PX;
}
/*//////////////////////////////////////////////*/
@media screen and (max-width: 480px) {
	table {
		border:0;
	}
	table tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;

	}
	table td {
		display: block;
		text-align: right;
		font-size: 16px;
		border-bottom: 1px dotted #ccc;
	}

	table td:last-child {
		border-bottom: 0;
	}
	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: 600;
	}
	.imagen {
		display: none;
	}
	table thead {
		display: none;
	}
	.header-content {
		justify-content: center;	
	}
}
