*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.fin {
    text-align: right;
    width: 85%;
    margin-bottom: 10px;
    color: #001a49;
}

.btn-reg {
    text-align: center;
}
.registro {
    background-color: #029ee0;
    width: 200px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    text-align: center;
}
.registro:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
}
/*contenido*/
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.columna1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.columna1 img {
    object-fit: cover;
    height: 85%;
    width: 20%;
    border-radius: 50%;
}
img {
    display: block;
    border-radius: 50%;
    padding: 0 10px;
}

.parrafo-especialidad{
    display: flex;
    align-content: center;
    letter-spacing: 0.03em;
    line-height: 1.3;
    padding: 5px;
    width: 70%;
}

.title {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #001a49;
    font-family: 'Roboto', sans-serif;
}
.especialidad {
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
    color: gray;
}
.linea {
    margin-left: 50px;
    width: 80%;
    padding-top: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.encontra {
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    background-color: #001a49;
}

.btncursos {
    margin: 20px 0;
    text-align: center;
}
.btncursos .button {
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgb(191, 191, 191); 
    text-decoration: none;
    text-transform: none;
    color: #001a49;
}
.btncursos .button:hover {
    cursor: pointer;
    box-shadow: none;
}
.btncursos .button:focus {
    box-shadow: none;
    cursor: pointer;
}
@media (max-width: 920px){
    .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    }
    .caja {
        height: 80px;
    }
    .title {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    }
    .columna1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    p{
        display: block;
    }
    .columna1 img {
        display: block;
        width: 50%;
        height: 50%;
        margin-bottom: 30px;

    }
    /* .columna2 {
        padding: 0 10px;
        margin-top: 20px;
        width: 100%;
    } */
    .cursosrelacionados {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .encontra {
        padding-top: 10px;
        font-size: 20px;
    }
    .btncursos {
        text-align: center;
    }

    .encontra {
        padding: 0;
    }
    .linea {
        margin: auto;
    }
    .fin {
        text-align: center;
        width: 100%;
        color: #001a49;
    }
}