*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif !important;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -30px;
}
.container {
    align-self: center;
    /* background: linear-gradient(135deg, #009ee0, #ffffff);
    background-size: cover; */
    max-width: 700px;
    padding: 0 30px;
    border-radius: 5px;
}
.form-title {
    font-family: 'Raleway', sans-serif !important;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    color: #027fb5;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(186, 186, 186);
    border-bottom: solid 1px rgb(0, 0, 0);
}
.main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
.user-input-box:nth-child(2n) {
    justify-content: end;
}
.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.user-input-box2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}
.user-input-box2 label{
    padding: 0 0 5px 10px;
    color: gray;
    font-size: 13px;
    font-family: 'Raleway', sans-serif !important;
}
.textoLogo {    
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    height: 40px;
    border-radius: 7px; 
    border: 1px solid grey;
    padding-left: 10px;
    color: gray;
}
.textareaCurso {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3px 0 0 5px;
    color: rgb(41, 41, 41);
    border-radius: 7px;
}
.user-input-boxFile {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding-bottom: 15px;
}
.label i {
    margin-right: 15px;
}
input[type="file"] {
    display: none;
    width: 10px;
}
label.textoLogo{
    width: 100%;
    justify-content: start;
}
.main-user-info label {
    width: 25%;
}
.textoLogo {    
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    height: 40px;
    border-radius: 7px; 
    border: 1px solid grey;
    padding-left: 10px;
    color: gray;
}
.user-input-boxFile2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
}
.textoLogo img {
    justify-content: center;
    align-content: center;
}
.user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px; 
    border: 1px solid grey;
    padding: 0 10px;
}
.user-input-box input:focus {
    border-color: black;
}
.style-select {
    appearance: none;
    height: 40px;
    padding-left: 10px;
    color: rgb(130,117,117);
    border-radius: 7px;
    outline: none;
    width: 95%;
}
.error {
    display: block;
    width: 95%;
    color: rgb(255, 0, 0);
    font-family: 'Raleway', sans-serif !important;
    font-size: 10px;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 3px;
}
.form-submit-btn button {
    cursor: pointer;
}
.form-submit-btn button {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    transition: 1s;
    text-transform: uppercase;
    background: #027fb5;
}
.form-submit-btn button:hover {
    transform: translateY(-2px);
    text-transform: uppercase;
    background: #009ee0;
    color: rgb(255, 255, 255);
}
@media(max-width: 600px) {
    .container{
        height: 100vh;
        min-width: 280px;
        margin-top: 30px;
    }
    .form-title{
        margin-top: 30px;
        font-size: 20px;
    }
    .user-input-box {
        justify-content: center;
        width: 100%;
        padding-bottom: 10px;
    }
    .textoLogo {
        margin: auto;
        text-align: center;
        width: 50%;
        height: 30px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .user-input-select {
        justify-content: center;
        width: 95%;
        padding-bottom: 10px;
    }
    .user-input-box input, select {
        height: 30px;
    }
    .user-input-box:nth-child(2n) {
        justify-content: center;
    }
    .main-user-info {
        max-height: 380px;
        overflow: auto;
    }
    .form-submit-btn button {
        padding: 5px;
        margin: 10 0 5px 0;
    }
    .error {
        font-size: 10px;
        color: red;
    }
    /* no mostrar barra scroll */
    .main-user-info::-webkit-scrollbar {
        width: 0;
    }
    .user-input-box2 {
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .main-user-info label {
        margin: auto;
        width: 35%;
        margin-bottom: 10px;
        
    }

}
