.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
}
.footer-item {
    width: 250px;
}
.footer-title {
    font-family: 'Raleway', sans-serif !important;
    color: #e65b00;
    font-size: 20px;
    margin: 5px 0;
}
.footer ul li {
    font-family: 'Raleway', sans-serif !important;
    list-style: none;
    margin: 5px 0;
    font-size: 12px;
}
.input-news {
    border: none;
    border-radius: 3px;
    padding: 5px 0;
}
input.input-news {
    padding-left: 5px;
    width: 100%;
}
.input-news:focus{
    outline: none;
}
.redes {
    text-align: center;
    cursor: pointer;
}
.redes ul li a {
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
    padding: 5px 0;
}
.redes ul li a:hover {
    color: #e65b00;
}
.contactanos {
    text-align: center;
}
.web {
    font-family: 'Raleway', sans-serif !important;
    text-decoration: none;
    color: #fff;
}
.web:hover {
    color: #e65b00;
}
.btnNews {
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 3px;
    float: right;
}

.btnNews:hover {
    background: #a1a1a16b;
    color: #e65b00;
}
@media (max-width: 920px){
    .redes {
        text-align: start;
        cursor: pointer;
    }
    .news-input{
        padding-bottom: 25px;
    }
}