*{
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px;

}
.cont_title {
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Raleway', sans-serif !important;
}
.cont_title p {
	max-width: 1200px;
	border-radius: 5px;
	color: rgb(41, 41, 41);;
	width: 500px;
	font-size: 26px;
	font-weight: 600;
	background-color: #027fb5;;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin: 20px 10px 10px 10px;
}
.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.btnDescarga {
	background-color: #029ee0;
	width: 200px;
	border: none;
	color: white;
	font-weight: 500;
	padding: 15px 12px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	margin: 20px  0 20px 0;
	text-align: center;
}
.btnDescarga:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		transition: all 0.5s;
	}
table {
	max-width: 1200px;
	border: 1px solid #ccc; 
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

table tr {
	border: 1px solid #ddd;
	padding: 5px;
}

table tr:nth-child(even) {
	background-color: #b6b6b6;
	color: white;
}

table td, table th {
	padding: 10px;
	text-align: center;
}

table th {
	text-transform: uppercase;
	font-family: 18px;
	letter-spacing: 1px;
	background-color: #000000;
	color: #fff
}

/*//////////////////////////////////////////////*/

@media screen and (max-width: 480px) {
	table {
		border:0;
	}

	table tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;

	}

	table td {
		display: block;
		text-align: right;
		font-size: 16px;
		border-bottom: 1px dotted #ccc;
	}

	table td:last-child {
		border-bottom: 0;
	}

	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: 600;
	}

	table thead {
		display: none;
	}
}
